@use "sass:math";

@import "_reset";
@import "_adaptValue";
@import "_icons";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap);

$titleBlack: #000;
$buttonsTexttWhite: #fff;
$textGray: #555;
$textBlack: #222;
$bgWhite: #F4FBF8;
$bgButtonGreen: #24AB70;
$bgCards: #FAFAFA;
$bgButtonGreen2:  rgba(36, 171, 112, 0.10);
$borders: #E8E8E8;

.title {
    color: $titleBlack;
    font-size: rem(64);
    font-weight: 600;
    line-height: math.div(80 , 64);

    // .title_small
    &_small{
        font-size: rem(40);
    }
}
.text {
    color: $textGray;
    font-size: rem(20);
    line-height: math.div(32 , 20);

    // .text_small
    &_small {
        font-size: rem(16);
        line-height: math.div(28 , 16);
    }
}

.body-template {

    // .body-template__title
    &__title {
        color: $titleBlack;
        font-size: rem(40);
        font-weight: 600;
        line-height: math.div(50 , 40);
        @include adaptiveValue("margin-bottom", 20, 10);
    }

    // .body-template__text
    &__text {
        color: $textGray;
        font-size: rem(16);
        line-height: math.div(28 , 16);
        @include adaptiveValue("margin-bottom", 50, 15);
        & > p:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 10);
        }
    }

    // .body-template__button
    &__button {
        padding: rem(16) rem(32);
        color: #FFF;
        font-weight: 600;
        border-radius: 35px;
        background: $bgButtonGreen;
        border: rem(1) solid transparent;
        transition: all 0.3s;
        @media (any-hover:hover) {
            &:hover {
                background-color: $bgButtonGreen2;
                color: $titleBlack;
                border: rem(1) solid $bgButtonGreen;
                transition: all 0.3s;
            }
        }
        @media (max-width:em(424.98)) {
            width: 100%;
            text-align: center;
            font-size: rem(20);
        }
    }
}