

$textColor: #6B7280;
$titleColor: #1F2937;
$colIndigo: #3730A3;
$bgRedColor: #FEF2F2;
$bgIcons: #EEF2FF;
$bgHeaderLogo: #EEEBFF;

.button-main {
    padding: rem(12) rem(32);
    border-radius: rem(6);
    border: rem(1) solid $colIndigo;
    color: $colIndigo;
    transition: all 0.3s;
    @media (any-hover:hover) {
        &:hover {
            background-color: $colIndigo;
            color: #ffff;
            transition: all 0.3s;
        }
    }
    // .button-main_indigo
    &_indigo {
        color: #ffff;
        background-color: $colIndigo;
        @media (any-hover:hover) {
            &:hover {
                color: $titleColor;
                background-color: $bgHeaderLogo;
                transition: all 0.3s;
            }
        }
    }
}

.title-main {
    color: $titleColor;
    font-size: rem(48);
    font-weight: 600;
    line-height: 1; /* 100% */
    @media (max-width:em(419.99)) {
        font-size: rem(36);
    }
    &>mark {
        background-color: transparent;
        color: $colIndigo;
    }
}