@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.woff2') format('woff2'), 
  url('../fonts/icons/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class*=" _icon-"] {
    &::before {
      /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
}

._icon-arrow-right:before {
  content: "\e900";
}
._icon-at-sign:before {
  content: "\e901";
}
._icon-business:before {
  content: "\e902";
}
._icon-codepen:before {
  content: "\e903";
}
._icon-dollar-sign:before {
  content: "\e904";
}
._icon-dribbble:before {
  content: "\e905";
}
._icon-facebook:before {
  content: "\e906";
}
._icon-instagram:before {
  content: "\e907";
}
._icon-search1:before {
  content: "\e908";
}
._icon-tw:before {
  content: "\e909";
}
