@use "sass:math";

@import "_reset";
@import "_adaptValue";
// У файлі _adaptValue вказати параметри сторінки і контейнеру
@import "_common";
@import "_icons";

body {
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
} 

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: math.div(20 , 16);
    background-color: $headerBG;
}
.wrapper > main {
    flex: 1 0 auto;
}
.burger-button {
    display: none;
    position: relative;
    z-index: 10; 
    @extend %burger;
    min-width: rem(40);
    min-height: rem(26);
    &:before, &:after, & span  {
        background-color: $headerFont;
    }
    @media (max-width:em(1023.99)) {
        display: flex;
    }
}

// ========== HEADER ============

.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    max-height: rem(100);
    background-color: $headerBG;
    color: $headerFont;
    padding: rem(15) rem(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);
    @media (max-width:em(1023.99)) {
        max-height: rem(80);
    }

    // .header__logo
    &__logo {
        position: relative;
        flex: 0 1 6.0%;
        min-width: rem(70);
        min-height: rem(70);
        padding-bottom: 6.0%;
        z-index: 10;
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .header__navigation
    &__navigation {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
    }

    // .header__title
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 18);
        flex: 1 1 auto;
        text-align: left;
        position: relative;
        z-index: 5;
    }

    // .header__menu
    &__menu {
        display: flex;
        align-items: center;
        gap: rem(30);
        font-weight: 600;
        font-size: rem(20);
        @media (max-width:em(1023.99)) {
            position: fixed;
            top: -100%;
            left: 0%;
            width: 100%;
            height: 100%;
            flex-direction: column;  
            align-items: start;
            justify-content: start;
            overflow: auto;
            padding: rem(100) rem(20) rem(20);
            z-index: 2;  
            background-color: $headerBG;
            transition: all 0.3s;
            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                height: rem(80);
                width: 100%;
                background-color: $headerBG;
                z-index: 3;
            }
            .menu-open & {
                top: 0;
                transition: all 0.3s;
            }
        }
    }
}
.menu {

    // .menu__point
    &__point {
        position: relative;
        transition: all 0.3s;
        &:after {
            content: '';
            height: rem(2);
            display: block;
            position: absolute;
            background-color: $headerFontTransform;
            width: 0%;
            bottom: rem(-4);
            box-shadow: 0 0 rem(8) rem(1.5) gold;
            left: 50%;
            opacity: 0;
            transition: all 0.3s;
        }
        @media (any-hover:hover) {
            &:hover {
                color: $headerFontTransform;
                transition: all 0.3s;
                &::after {
                    opacity: 1;
                    left: 0;
                    width: 100%;
                    transition: all 0.3s;
                }
            }
        }
        @media (max-width:em(1023.99)) {
            &::after {
                left: 0;
                width: 100%;
                box-shadow: 0 0 rem(8) rem(1.5) $headerFont;
                opacity: 1;
            }
        }
    }

    // .menu__link
    &__link {
    }
}

// ========== MAIN ================

// ======= SERVICES ===============
.services {
    // padding: rem(100) 0 0;
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    // @media (max-width:em(1023.99)) {
    //     padding: rem(80) 0 0;
    // }
}
.slider-services .services__slider {
    width: 100%;
    min-height: 100vh;
    position: relative;

    // .slider-services__pagination
    &__pagination {
    }
}
.swiper .slider-services__slider {
    width: 100%;
    min-height: 100vh;
}
.swiper-wrapper .slider-services__wrapper {
    width: 100%;
    min-height: 100vh;
}
.swiper-slide .slider-services__slide .services-slide {
    width: 100%;
    min-height: 100vh;
}
.services-slide {
    // .services-slide__image
    &__image {
        position: relative;
        padding-bottom: 45.85%;
        min-height: 100vh;
        // min-height: calc(100vh - rem(100));
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
        &.image-botoom > img {
            object-position: bottom;
        }
        // @media (max-width:em(1023.99)) {
        //     min-height: calc(100vh - rem(80));
        // }
    }
}
.swiper-pagination .slider-services__pagination {
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 0;
    width: rem(10);
    height: rem(10);
    background-color: $formFieldBg;
    border: rem(1) solid $headerBG;
    transition: all 0.3s;
    &.swiper-pagination-bullet-active {
        background-color: $headerFontTransform;
        transition: all 0.3s;
    }
}

.services-slide__text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(10);
    transform: translateY(10%);
    visibility: hidden;
    opacity: 0;
    transition: all 1.2s;
    .swiper-slide.slider-services__slide.services-slide.swiper-slide-active > & {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
        transition: all 1.2s;
    }
}
.text-slide {
    
    // .text-slide__title
    &__title {
        @include adaptiveValue("font-size", 46, 18);
        font-weight: 700;
        color: $headerFontTransform;
        text-align: center;
        max-width: 80%;
        width: fit-content;
        max-height: 80%;
        background-color: rgba(0, 0, 0, 0.45);
        box-shadow: 0 0 rem(10) rem(10) rgba(0, 0, 0, 0.45);
        border-radius: rem(15);
        text-transform: uppercase;
        @media (max-width:em(480)) {
            max-width: 100%;
        }
    }
}

// ================================

// ====== COMPANY ==============
.company {
    display: flex;
    flex-direction: column;

		// .company__row
		&__row {
            display: flex;
            gap: rem(15);
            align-items: center;
            justify-content: space-between;
            & .row-company__image {
                transform: translate(-20%, 0);
                opacity: 0;
                visibility: hidden;
                transition: all 1s;
            }
            &.show .row-company__image {
                transform: translate(0%, 0);
                opacity: 1;
                visibility: visible;
                transition: all 1s;
            }     
            & .row-company__body {
                transform: translate(20%, 0);
                opacity: 0;
                visibility: hidden;
                transition: all 1s;
            }
            &.show .row-company__body {
                transform: translate(0%, 0);
                opacity: 1;
                visibility: visible;
                transition: all 1s;
            }
            &:nth-child(odd) {
                flex-direction: row-reverse;
                @media (max-width:em(767.98)) {
                    flex-direction: column;
                }
                & .row-company__image {
                    transform: translate(20%, 0);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 1s;
                }
                &.show .row-company__image {
                    transform: translate(0%, 0);
                    opacity: 1;
                    visibility: visible;
                    transition: all 1s;
                }   
                & .row-company__body {
                    transform: translate(-20%, 0);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 1s;
                }
                &.show .row-company__body {
                    transform: translate(0%, 0);
                    opacity: 1;
                    visibility: visible;
                    transition: all 1s;
                }  
            }
            @media (max-width:em(767.98)) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }       
		}
}
.row-company {

		// .row-company__image
		&__image {
            flex: 0 0 50%;
            position: relative;
            padding-bottom: 45%;
            // min-height: 100%;
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            & .image_bottom > img {
                object-position: bottom;
            }
            @media (max-width:em(767.98)) {
                flex: 1 1 auto;
                width: 100%;
                // min-height: auto;
                padding-bottom: 90%;
            }
		}

		// .row-company__body
		&__body {
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            @include adaptiveValue("padding-top", 50, 15);
            @include adaptiveValue("padding-bottom", 50, 15);
            @include adaptiveValue("padding-left", 50, 15);
            @include adaptiveValue("padding-right", 50, 15);
            justify-content: center;
            color: $headerFontTransform;
            @media (max-width:em(767.98)) {
                flex: 1 1 100%;
            }
		}
}
.body-company {

		// .body-company__title
		&__title {
            @include adaptiveValue("margin-bottom", 30, 15);
            line-height: 1.1;
            @media (max-width:em(767.98)) {
                text-align: center;
            }
		}

		// .body-company__text
		&__text {
            text-align: justify;
		}
}

// ==================================

// ======= PARTNERS ==============
.partners {
    padding: rem(50) rem(20);
    color: $headerFontTransform;

    // .partners__title
    &__title {
        text-align: center;
        @include adaptiveValue("margin-bottom", 50, 20);
        transform: translate(-100%, 0);
        visibility: hidden;
        opacity: 0;
        transition: all 0.8s;
        .show & {
            transform: translate(0%, 0);
            visibility: visible;
            opacity: 1;
            transition: all 0.8s;
        }
    }

    // .partners__container
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-content: center;
        gap: rem(30);
        @media (max-width:em(1023.99)) {
            grid-template-columns: repeat(3, 1fr);
            gap: rem(20);
        }
        @media (max-width:em(767.99)) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:em(424.99)) {
            grid-template-columns: 1fr;
        }
    }

    // .partners__item
    &__item {
        position: relative;
        padding-bottom: 30%;

        transform: translateY(50%);
        visibility: hidden;
        opacity: 0;
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .show &:nth-child(1) {
            animation: from-down-to-up 1s linear 0.5s 1 forwards;
        }
        .show &:nth-child(2) {
            animation: from-down-to-up 1s linear 1s 1 forwards;
        }
        .show &:nth-child(3) {
            animation: from-down-to-up 1s linear 1.5s 1 forwards;
        }
        .show &:nth-child(4) {
            animation: from-down-to-up 1s linear 2s 1 forwards;
        }
        .show &:nth-child(5) {
            animation: from-down-to-up 1s linear 2.5s 1 forwards;
        }
        .show &:nth-child(6) {
            animation: from-down-to-up 1s linear 3s 1 forwards;
        }
        .show &:nth-child(7) {
            animation: from-down-to-up 1s linear 3.5s 1 forwards;
        }
        .show &:nth-child(8) {
            animation: from-down-to-up 1s linear 4s 1 forwards;
        }
    }
}
@keyframes from-down-to-up {
    0%{
        transform: translateY(50%);
        visibility: hidden;
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
    }
}

// ===============================

// ========== CONTACTS ===============

.contacts {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 50, 15);
    padding-left: rem(20);
    padding-right: rem(20);
    color: $headerFontTransform;

    // .contacts__title
    &__title {
        margin-bottom: rem(15);
        text-align: center;
    }

    // .contacts__text
    &__text {
        text-align: center;
        @include adaptiveValue("margin-bottom", 30, 15);
    }

    // .contacts__row
    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        @include adaptiveValue("gap", 50, 20);
        @media (max-width:em(767.99)) {
            flex-direction: column;
        }
    }
}
.row-contacts {

    // .row-contacts__body
    &__body {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width:em(767.99)) {
            flex: 1 1 100%;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
        }
    }

    // .row-contacts__form
    &__form {
        flex: 1 1 50%;
        width: 100%;
        @media (max-width:em(767.99)) {
            flex: 1 1 100%;
        }
    }
}
.body-contacts {

    // .body-contacts__block
    &__block {
        padding: rem(20);
    }

    // .body-contacts__title
    &__title {
        margin-bottom: rem(15);
        @include adaptiveValue("font-size", 24, 18);
    }

    // .body-contacts__text
    &__text {
    }
}
.form-contacts {

    // .form-contacts__block
    &__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(10);
        margin-bottom: rem(20);
        & input {
            width: 100%;
            height: rem(40);
            padding: rem(5) rem(15);
            font-weight: 600;
            font-size: rem(18);
            background-color: $formFieldBg;
            color: $headerBG;
            border: rem(1) solid gold;
            transition: all 0.3s;
            &:focus {
                outline: none;
                box-shadow: 0 0 rem(10) 0 $formFieldShadow;
                background-color: $formFieldBgActive;
                transition: all 0.3s;
            }
        }
        & label {
            font-weight: 600;
            @include adaptiveValue("font-size", 18, 14);
        }
        & textarea {
            background-color: $formFieldBg;
            color: $headerBG;
            padding: rem(5) rem(15);
            border: rem(1) solid gold;
            width: 100%;
            resize: vertical;
            font-weight: 600;
            font-size: rem(18);
            transition: all 0.3s;
            &:focus {
                outline: none;
                box-shadow: 0 0 rem(10) 0 $formFieldShadow;
                background-color: $formFieldBgActive;
                transition: all 0.3s;
            }
        }
        @media (max-width:em(767.99)) {
            flex: 1 1 100%;
        }
        @media (max-width:em(423.99)) {
            align-items: center;
            text-align: center;
        }
    }

    // .form-contacts__button
    &__button {
        padding: rem(15) rem(50);
        text-align: center;
        font-weight: 600;
        font-size: rem(18);
        background-color: $headerFontTransform;
        color: $headerBG;
        // border-radius: rem(15);
        transition: all 0.3s;
        &:hover {
            background-color: $headerFont;
            box-shadow: 0 0 rem(10) 0 $headerFontTransform;
            transition: all 0.3s;
        }
        @media (max-width:em(767.99)) {
            width: 100%;
        }
    }
}

// ==================================

// ========= FOOTER =================

.footer {
    padding: rem(50) rem(20);
    display: flex;
    align-items: center;
    justify-content: center;

    // .footer__title
    &__title {
        font-size: rem(24);
        text-align: center;
    }
}

// ===================================