@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.woff2") format("woff2"), url("../fonts/icons/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-right:before {
  content: "\e900";
}

._icon-at-sign:before {
  content: "\e901";
}

._icon-business:before {
  content: "\e902";
}

._icon-codepen:before {
  content: "\e903";
}

._icon-dollar-sign:before {
  content: "\e904";
}

._icon-dribbble:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

._icon-instagram:before {
  content: "\e907";
}

._icon-search1:before {
  content: "\e908";
}

._icon-tw:before {
  content: "\e909";
}

.button-main {
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #3730A3;
  color: #3730A3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button-main:hover {
    background-color: #3730A3;
    color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.button-main_indigo {
  color: white;
  background-color: #3730A3;
}
@media (any-hover: hover) {
  .button-main_indigo:hover {
    color: #1F2937;
    background-color: #EEEBFF;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.title-main {
  color: #1F2937;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
@media (max-width: 26.249375em) {
  .title-main {
    font-size: 2.25rem;
  }
}
.title-main > mark {
  background-color: transparent;
  color: #3730A3;
}

[class*=__container] {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

[class*=__text] {
  color: #6B7280;
  font-weight: 400;
  line-height: 1.56; /* 155.556% */
}

body {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body.menu-open {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (max-width: 61.249375em) {
  .main {
    padding-top: 5.625rem;
  }
}
.header-fixed .main {
  padding-top: 6.25rem;
}

.header {
  min-height: 14.8125rem;
  z-index: 3;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 61.249375em) {
  .header {
    position: fixed;
    background-color: #EEEBFF;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-fixed .header {
  position: fixed;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 5rem;
}
.header__container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: end;
}
@media (max-width: 61.249375em) {
  .header__container {
    gap: 2.5rem;
  }
}
@media (max-width: 26.249375em) {
  .header__container {
    gap: 1.25rem;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  width: 4.3125rem;
  height: 4.3125rem;
  border-radius: 50%;
  background-color: #EEEBFF;
  color: #7B61FF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .header__logo:hover {
    background-color: #3730A3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__logo:hover .header__link {
    color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (max-width: 61.249375em) {
  .header__logo {
    background-color: #3730A3;
    color: white;
    width: 3.125rem;
    height: 3.125rem;
  }
}
.header__link {
  width: 100%;
  height: 100%;
  padding-top: 0.1875rem;
  padding-left: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 61.249375em) {
  .header__link {
    font-size: 1.25rem;
  }
}
.header__burger {
  position: relative;
  z-index: 5;
  display: none;
  justify-self: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger::after, .header__burger::before, .header__burger span {
  content: "";
  width: 2.5rem;
  height: 0.1875rem;
  background-color: #3730A3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 61.249375em) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu-open .header__burger::before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-open .header__burger::after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-open .header__burger span {
  width: 0;
}
.header__menu {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #6B7280;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 0.9375rem;
}
@media (max-width: 61.249375em) {
  .header__menu {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5625rem;
    padding: 5.625rem 0.625rem 1.25rem 0.625rem;
    overflow-y: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 1.375rem;
    color: #3730A3;
    background-color: #EEEBFF;
    text-align: center;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__menu::before {
    content: "";
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    background-color: #EEEBFF;
  }
  .menu-open .header__menu {
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-open .header__menu::before {
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.header__button {
  position: relative;
  z-index: 5;
}
@media (max-width: 61.249375em) {
  .header__button {
    background-color: #fff;
  }
}

.menu-header__point {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.menu-header__point::after {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  height: 0.125rem;
  background-color: #3730A3;
  left: 50%;
  width: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu-header__point:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #3730A3;
  }
  .menu-header__point:hover::after {
    left: 0%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.creative {
  padding: 6.25rem 0;
}
@media (max-width: 74.999375em) {
  .creative {
    padding: 3.75rem 0;
  }
}
@media (max-width: 61.249375em) {
  .creative {
    padding: 1.875rem 0;
  }
}
@media (max-width: 41.874375em) {
  .creative {
    padding: 0.9375rem 0;
  }
}
.creative__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.625rem;
     -moz-column-gap: 6.625rem;
          column-gap: 6.625rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 74.999375em) {
  .creative__container {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}
@media (max-width: 61.249375em) {
  .creative__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (max-width: 41.874375em) {
  .creative__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 1.25rem;
  }
}
.creative__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.25rem;
          flex: 0 1 37.25rem;
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2.5rem;
}
@media (max-width: 61.249375em) {
  .creative__body {
    gap: 1.25rem;
  }
}
@media (max-width: 41.874375em) {
  .creative__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
}
.creative__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.509%;
          flex: 0 0 40.509%; /* 478/1210 */
  position: relative;
  padding-bottom: 44.492%; /* 478/525 */
}
.creative__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.375rem;
}
@media (max-width: 41.874375em) {
  .creative__image {
    width: 100%;
    padding-bottom: 91.047619%; /* 478/525 */
  }
}

.body-creative__label {
  width: 100%;
  color: #3730A3;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
@media (max-width: 41.874375em) {
  .body-creative__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.body-creative__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 1 6.375rem;
          flex: 0 1 6.375rem;
  height: 0.0625rem;
  background-color: #3730A3;
}
@media (max-width: 41.874375em) {
  .body-creative__label::before {
    display: none;
  }
}
.body-creative__title {
  font-size: 4.375rem;
  font-weight: 700;
}
@media (max-width: 74.999375em) {
  .body-creative__title {
    font-size: 3.75rem;
  }
}
@media (max-width: 61.249375em) {
  .body-creative__title {
    font-size: 3rem;
  }
}
@media (max-width: 48.124375em) {
  .body-creative__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 41.874375em) {
  .body-creative__title {
    font-size: 2rem;
  }
}
.body-creative__text {
  max-width: 34.5625rem;
}
@media (max-width: 41.874375em) {
  .body-creative__text {
    max-width: 100%;
  }
}
.body-creative__text_info {
  width: 100%;
  font-size: 0.75rem;
  line-height: 1.33; /* 133.333% */
  position: relative;
}
.body-creative__text_info::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1.25rem;
  width: 100%;
  height: 0.0625rem;
  background-color: #E5E7EB;
}
@media (max-width: 61.249375em) {
  .body-creative__text_info::before {
    top: -0.625rem;
  }
}
.body-creative__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 41.874375em) {
  .body-creative__buttons {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.625rem;
  }
}

@media (max-width: 24.374375em) {
  .buttons-info__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.services {
  padding: 6.25rem 0 9.375rem 0;
}
@media (max-width: 68.749375em) {
  .services {
    padding: 3.125rem 0 3.125rem 0;
  }
}
.services__title {
  text-align: center;
  max-width: 64.9375rem;
  margin: 0 auto;
}
.services__title:not(:last-child) {
  margin-bottom: 9.375rem;
}
@media (max-width: 68.749375em) {
  .services__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 49.999375em) {
  .services__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 31.249375em) {
  .services__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 24.999375em) {
  .services__title {
    font-size: 1.5rem;
  }
}
.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3.125rem;
}
@media (max-width: 68.749375em) {
  .services__block {
    gap: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 49.999375em) {
  .services__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1.25rem;
  }
}

.block-services__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.289%;
          flex: 0 0 37.289%; /* 440/1210 */
  padding-bottom: 52.712%; /* 440/622 */
}
.block-services__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 49.999375em) {
  .block-services__image img {
    position: static;
  }
}
@media (max-width: 49.999375em) {
  .block-services__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }
}
.block-services__items {
  padding: 1.25rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.25rem;
}
@media (max-width: 68.749375em) {
  .block-services__items {
    gap: 1.875rem;
  }
}
@media (max-width: 49.999375em) {
  .block-services__items {
    gap: 1.25rem;
  }
}
@media (max-width: 31.249375em) {
  .block-services__items {
    grid-template-columns: 1fr;
  }
}

.items-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.33; /* 133.333% */
  font-size: 0.75rem;
}
@media (max-width: 68.749375em) {
  .items-services__item {
    gap: 0.625rem;
  }
}
@media (max-width: 31.249375em) {
  .items-services__item {
    font-size: 1rem;
  }
}

.item-services__title {
  color: #1F2937;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.55; /* 155.556% */
}
@media (max-width: 31.249375em) {
  .item-services__title {
    font-size: 1.25rem;
  }
}
.item-services__link {
  color: #3730A3;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  color: #3730A3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-services__link::before {
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 31.249375em) {
  .item-services__link::before {
    font-size: 1.125rem;
    font-weight: 600;
  }
}
@media (any-hover: hover) {
  .item-services__link:hover::before {
    -webkit-transform: translate(0.3125rem, 0) scale(1.4);
        -ms-transform: translate(0.3125rem, 0) scale(1.4);
            transform: translate(0.3125rem, 0) scale(1.4);
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (max-width: 31.249375em) {
  .item-services__link {
    width: 100%;
    background-color: #EEEBFF;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #3730A3;
  }
}

.trusted {
  padding: 6.25rem 0;
  background-color: #FEF2F2;
}
@media (max-width: 61.249375em) {
  .trusted {
    padding: 3.125rem 0;
  }
}
.trusted__title {
  color: #6B7280;
  font-size: 1.25rem;
  line-height: 1.4; /* 140% */
}
.trusted__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 75.624375em) {
  .trusted__title {
    text-align: center;
  }
}
.trusted__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 6.0625rem;
     -moz-column-gap: 6.0625rem;
          column-gap: 6.0625rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 75.624375em) {
  .trusted__partners {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}
@media (max-width: 48.061875em) {
  .trusted__partners {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

.feed {
  padding: 9.375rem 0 4.6875rem;
}
@media (max-width: 68.749375em) {
  .feed {
    padding: 4.6875rem 0;
  }
}
@media (max-width: 47.999375em) {
  .feed {
    padding: 1.875rem 0;
  }
}
.feed__title {
  text-align: center;
  margin: 0 auto;
  max-width: 64.9375rem;
}
.feed__title:not(:last-child) {
  margin-bottom: 9.375rem;
}
@media (max-width: 68.749375em) {
  .feed__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 47.999375em) {
  .feed__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.feed__items {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  gap: 0.9375rem;
}
@media (min-width: 47.999375em) {
  .feed__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }
}

.items-feed__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 70.957% 1.875rem 1.3125rem 1.125rem;
}
@media (any-hover: hover) {
  .items-feed__item:hover .item-feed__link {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (max-width: 26.561875em) {
  .items-feed__item {
    padding: 70.957% 0.3125rem 0.9375rem 0.3125rem;
  }
}

@media (min-width: 47.999375em) {
  .item-feed_column {
    grid-row: span 2;
  }
}
@media (min-width: 47.999375em) {
  .item-feed_row {
    grid-column: span 2;
    padding-top: 27.373%;
  }
}
.item-feed__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-feed__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-feed__link {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 1.4375rem 1.6875rem;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.touch .item-feed__link {
  visibility: visible;
  opacity: 1;
}
.item-feed__link::before {
  position: absolute;
  top: 50%;
  right: 1.6875rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 1.875rem;
  font-weight: 500;
  color: #1F2937;
}
@media (max-width: 68.749375em) {
  .item-feed__link::before {
    right: 0.625rem;
  }
}
.item-feed__link h5 {
  color: #1F2937;
  font-size: 1.125rem;
  line-height: 1.56; /* 155.556% */
}
@media (max-width: 26.561875em) {
  .item-feed__link h5 {
    font-size: 1rem;
  }
}
.item-feed__link span {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.43; /* 142.857% */
}
@media (max-width: 26.561875em) {
  .item-feed__link span {
    font-size: 0.75rem;
  }
}
@media (max-width: 68.749375em) {
  .item-feed__link {
    padding: 0.625rem;
  }
}
@media (max-width: 26.561875em) {
  .item-feed__link {
    padding: 0.3125rem;
  }
}

.features {
  padding: 4.6875rem 0;
}
@media (max-width: 68.749375em) {
  .features {
    padding: 3.125rem 0;
  }
}
@media (max-width: 49.999375em) {
  .features {
    padding: 1.25rem 0;
  }
}
.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5.1875rem;
}
@media (max-width: 68.749375em) {
  .features__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features__item {
  text-align: center;
  max-width: 22.5625rem;
}
@media (max-width: 49.999375em) {
  .features__item {
    max-width: 18.75rem;
  }
}
@media (max-width: 41.874375em) {
  .features__item {
    max-width: 100%;
  }
}

.item-features__icon {
  margin: 0 auto;
  max-width: 8.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  background-color: #EEF2FF;
  padding: 3.125rem;
}
.item-features__icon::before {
  font-size: 2.5rem;
  color: #3730A3;
}
.item-features__icon:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 49.999375em) {
  .item-features__icon:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 49.999375em) {
  .item-features__icon {
    padding: 1.875rem;
  }
}
.item-features__title {
  color: #374151;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.item-features__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 49.999375em) {
  .item-features__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 49.999375em) {
  .item-features__title {
    font-size: 1.5rem;
  }
}
.item-features__text {
  color: #9CA3AF;
  font-size: 1.125rem;
  line-height: 1.55; /* 155.556% */
}
@media (max-width: 49.999375em) {
  .item-features__text {
    font-size: 1rem;
  }
}

.careers {
  padding: 4.6875rem 0 9.375rem;
}
@media (max-width: 68.749375em) {
  .careers {
    padding: 3.125rem 0 6.25rem;
  }
}
@media (max-width: 49.999375em) {
  .careers {
    padding: 1.875rem 0;
  }
}
.careers__title {
  text-align: center;
}
.careers__title:not(:last-child) {
  margin-bottom: 9.375rem;
}
@media (max-width: 68.749375em) {
  .careers__title:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: 49.999375em) {
  .careers__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.careers__table-wrapper {
  overflow: auto;
}
.careers__table {
  min-width: 100%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  text-align: left;
  color: #6B7280;
}
@media (max-width: 47.499375em) {
  .careers__table {
    min-width: 43.75rem;
  }
}
.careers__table th {
  text-transform: capitalize;
  font-weight: normal;
  padding-bottom: 2.5rem;
}
@media (max-width: 47.499375em) {
  .careers__table th {
    padding-bottom: 1.25rem;
  }
}
.careers__table td {
  min-width: 33.333%;
  padding: 2.5rem 0;
}
@media (max-width: 47.499375em) {
  .careers__table td {
    padding: 1.25rem 0;
  }
}
.careers__table td mark {
  font-weight: 700;
  background-color: transparent;
  color: #1F2937;
}
.footer {
  padding: 6.875rem 0;
  background-color: #FEF2F2;
}
@media (max-width: 61.249375em) {
  .footer {
    padding: 3.75rem 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__title {
  font-weight: 500;
  text-align: center;
}
.footer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 61.249375em) {
  .footer__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.footer__text {
  max-width: 41.5625rem;
  text-align: center;
}
.footer__text:not(:last-child) {
  margin-bottom: 5.625rem;
}
@media (max-width: 61.249375em) {
  .footer__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.social-icons__icon {
  padding: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social-icons__icon::before {
  font-size: 2.1875rem;
  color: #6B7280;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .social-icons__icon:hover::before {
    color: #3730A3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .social-icons__icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.popup-hire {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* From https://css.glass */
  background: rgba(70, 198, 238, 0.31);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}
.popup-open .popup-hire {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popup-hire__body {
  position: relative;
  z-index: 11;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.25rem;
          flex: 0 1 31.25rem;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 0.625rem;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 26.561875em) {
  .popup-hire__body {
    height: 100%;
    width: 100%;
  }
}
.popup-open .popup-hire__body {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

.body-popup__form {
  font-size: 1rem;
  line-height: 1.2;
  color: #6B7280;
}
@media (max-width: 26.561875em) {
  .body-popup__form {
    font-size: 0.875rem;
  }
}
.body-popup__title {
  font-size: 1.5rem;
  color: #1F2937;
  text-transform: uppercase;
  text-align: center;
}
.body-popup__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 26.561875em) {
  .body-popup__title {
    font-size: 1.125rem;
  }
}

.form-hire > div:not(:last-child) {
  margin-bottom: 1.25rem;
}
.form-hire label {
  display: block;
  margin-bottom: 0.625rem;
}
.form-hire input {
  height: 3.125rem;
  width: 100%;
  background-color: #EEEBFF;
  border-radius: 0.625rem;
  padding: 0.3125rem 0.9375rem;
  font-size: 1rem;
  color: #1F2937;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form-hire input:focus {
  -webkit-box-shadow: 0 0 0.625rem 0 #3730A3;
          box-shadow: 0 0 0.625rem 0 #3730A3;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-field {
  width: 100%;
}

.button-submit {
  width: 100%;
  color: white;
  background-color: #3730A3;
  border: 0.0625rem solid #3730A3;
  text-align: center;
  padding: 0.9375rem;
  text-transform: uppercase;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-submit:active {
  background-color: #FEF2F2;
  color: #3730A3;
}
@media (any-hover: hover) {
  .button-submit:hover {
    color: #3730A3;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.button-close {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 0.875rem;
  color: #6B7280;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}
.button-close::after {
  content: "[X]";
}