@use "sass:math";

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

@import "_mixin.scss";
@import "_reset.scss";
@import "_common.scss";
@import "_icons.scss";

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: rem(12);
    color: $mainColor;
}
[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;  
}

.main {
    flex: 1 1 auto;
}


// ========= ART ===========

.art {
    padding-top: rem(100);
    max-height: rem(970);
}
.art-slider.swiper {
    width: 100%;
    height: 100%;
}
.art-slider__wrapper.swiper-wrapper {
    width: 100%;
    height: 100%;
}
.art-slider__slide.slide-art.swiper-slide {
    width: 100%;
    height: 100%;
}
.slide-art {
    width: 100%;
    height: 100%;

    // .slide-art__image

    &__image {
        position: relative;
        padding-bottom: 44.776119%; /* 600/1340 */
        z-index: 5;
        @media (min-width:em(1270)) {
            transform: translate(-3.4%, 0);
        }
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(3);
        }
    }

    // .slide-art__container

    &__container {
        padding: rem(75) 0;
        display: flex;
        justify-content: flex-end;
    }

    // .slide-art__body

    &__body {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        row-gap: rem(15);
        padding-left: rem(105);
        position: relative;
        z-index: 5;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 190%;
            background-color: rgba(94, 94, 94, 0.05);
            z-index: -1;
        }
    }
}
.body-art {

    // .body-art__date

    &__date {
    }

    // .body-art__title

    &__title {
    }

    // .body-art__text

    &__text {
    }

    // .body-art__author

    &__author {
    }
}

.art-slider__pagination.swiper-pagination.swiper-pagination-vertical {
    bottom: -23%;
    right: 53%;
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    justify-content: flex-end;
    @media (max-width:em(1099.98)) {
        right: 10%;
        bottom: 20%;
    }
    @media (max-width:em(729.98)) {
        right: 5%;
    }
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: transparent;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: #495057;
    font-size: rem(25);
    font-weight: 700;
    line-height: math.div(20 , 25);
    padding-left: 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        right: 100%;
        width: rem(44);
        height: rem(1);
        background-color: #C4C4C4;
        margin-right: rem(10);
        @media (max-width:em(729.98)) {
            width: rem(22);
        }
    }
}
.swiper-pagination-bullet {
    color: #C4C4C4;
    font-size: rem(12);
    font-weight: 300;
    line-height: math.div(20 , 12);
    padding-left: rem(10);
    @media (max-width:em(1099.98)) {
        color: #495057;
    }
}

// ========= ART ===========!!