@use "sass:math";

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

@import "_mixin.scss";
@import "_reset.scss";
@import "_common.scss";
@import "_icons.scss";

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: rem(12);
    color: $mainColor;
}
[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;  
}

.main {
    flex: 1 1 auto;
}

// ====== TOPICS =======

.topics {
    padding-bottom: rem(100);
    @media (max-width:em(689.98)) {
        padding-bottom: rem(50);
    }

		// .topics__container

		&__container {
		}

		// .topics__small-container

		&__small-container {
            max-width: rem(1010);
            padding: 0 rem(10);
            margin: 0 auto;
            display: flex;
            @media (max-width:em(689.98)) {
                flex-direction: column;
                row-gap: rem(20);
            }
		}

		// .topics__aside

		&__aside {
            flex: 0 1 rem(395);
            display: flex;
            flex-direction: column;
            row-gap: rem(30);
            @media (max-width:em(929.98)) {
                flex: 1 0 rem(280);
            }
		}

		// .topics__cards

		&__cards {
            display: flex;
            flex: 0 1 rem(615);
            padding-left: rem(30);
            flex-direction: column;
            row-gap: rem(40);
            @media (max-width:em(929.98)) {
                padding-left: rem(15);
            }
		}

		// .topics__page-numbers

		&__page-numbers {
            display: flex;
            column-gap: rem(15);
            padding-top: rem(20);
		}
}
.aside-topics {

        // .aside-topics__title

        &__title {
            @media (max-width:em(689.98)) {
                font-size: rem(20);
            }
        }

		// .aside-topics__list

		&__list {
            display: flex;
            flex-direction: column;
            row-gap: rem(10);
		}

		// .aside-topics__form

		&__form {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            column-gap: rem(10);
            color: rgba(73, 80, 87, 0.50);
            position: relative;
            @media (max-width:em(579.98)) {
                flex-direction: row;
                justify-content: flex-start;
            }
		}
}
.list-topics {

		// .list-topics__point

		&__point {
            font-weight: 500;
            line-height: math.div(25 , 12);
            display: flex;
            column-gap: rem(10);
            align-items: center;
            transition: all 0.3s;
            position: relative;
            &::before {
                content: '+';
                transition: all 0.3s;
            }
            @media (any-hover:hover) {
                &:hover::before {
                    transform: rotate(45deg) scale(1.8);
                    transition: all 0.3s;
                }
                &:hover .list-topics__link {
                    text-decoration: underline;
                    text-decoration-thickness: rem(3);
                    text-decoration-color: #DDBEA9;
                }
            }
		}

		// .list-topics__link

		&__link {
		}
}
.form-topics {

		// .form-topics__label

		&__label {
            &::before {
                transition: all 0.3s;
            }
		}

		// .form-topics__input

		&__input {
            outline: none;
            max-width: rem(120);
            padding: rem(5) rem(10);
            border-radius: rem(3);
            transition: all 0.3s;
            &:focus {
                max-width: rem(250);
                background-color: #E5E5E5;
                color: $mainColor;
                font-weight: 500;
                @media (max-width:em(689.98)) {
                    max-width: rem(350);
                }
                @media (max-width:em(579.98)) {
                    max-width: rem(250);
                }
            }
            &:focus + .form-topics__label::before {
                color: $mainColor;
                font-size: rem(16);
                transition: all 0.3s;
            }
            &:focus ~ .form-topics__btn {
                right: 32%;
                visibility: visible;
                opacity: 1;
                transition: all 0.5s;
                @media (max-width:em(929.98)) {
                    right: 30%;
                }
                @media (max-width:em(689.98)) {
                    right: 50%;
                }
            }
            @media (max-width:em(579.98)) {
                max-width: rem(250);
                background-color: #E5E5E5;
                color: $mainColor;
                font-weight: 500;
            }
		}

        // .form-topics__btn

        &__btn {
            visibility: hidden;
            opacity: 0;
            padding: rem(5) rem(10);
            border-radius: rem(5);
            background-color: darkmagenta;
            color: #F8F9FA;
            font-weight: 500;
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.3s;
            @media (any-hover:hover) {
                &:hover {
                    background-color: darkorchid;
                    color: #E5E5E5;
                }
            }
            @media (max-width:em(929.98)) {
                top: 110%;
            }
            @media (max-width:em(689.98)) {
                top: 0;
            }
            @media (max-width:em(579.98)) {
                position: static;
                visibility: visible;
                opacity: 1;
            }
        }
}
.card-topics {
    display: flex;
    column-gap: rem(30);
    @media (max-width:em(929.98)) {
        flex-direction: column;
        row-gap: rem(15);
    }
}
.card-topics__image {
    flex: 1 1 rem(286);
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(3);
    }
    @media (max-width:em(929.98)) {
        flex: 1 1 100%;
    }
}
.details-card {
    padding-top: rem(15);
    border-top: rem(1) solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    color: #6C757D;
    
		// .details-card__author

		&__author {
		}

		// .details-card__likes

		&__likes {
            display: flex;
            align-items: center;
            column-gap: rem(5);
            &:before {
                color: #6C757D;
            }
		}
}
.numbers-topics {

		// .numbers-topics__number

		&__number {
            color: rgba(73, 80, 87, 0.50);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 110%;
                left: 50%;
                width: 0%;
                height: rem(2);
                background-color: #DDBEA9;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
            }
            @media (any-hover:hover) {
                &:hover::after, .numbers-topics__number_active {
                    opacity: 1;
                    visibility: visible;
                    width: 100%;
                    left: 0%;
                    transition: all 0.3s;
                }
                &:hover {
                    color: #495057;
                    transition: all 0.3s;
                }
            }
		}

        // .numbers-topics__number_active 

        &__number_active {
            color: #495057;
            &::after {
                content: '';
                position: absolute;
                top: 110%;
                left: 0%;
                width: 100%;
                height: rem(2);
                background-color: #DDBEA9;
                opacity: 1;
                visibility: visible;
            }
        }
}

// ====== TOPICS =======!!